/****************************************************************************************
************************************** By element  **************************************
*****************************************************************************************/
html, body {
    height: 100%;
}

html, body, form {
    height: 100%;
}

/****************************************************************************************
************************************** By id       **************************************
*****************************************************************************************/


/****************************************************************************************
************************************** By class    **************************************
*****************************************************************************************/
.wrapper {
    overflow: hidden;
    margin: 10px;
}

.box {
    position: relative;
    background: #00F;
    float: left;
    margin: 1px;
    width: 20%;
    padding-bottom: 20%;
}

.innerContent {
    position: absolute;
    background: #66F;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}

    .innerContent img {
        width: 100%;
    }

/****************************************************************************************
************************************** By media    **************************************
*****************************************************************************************/
@media only screen and (max_width: 480px) {
    /* SmarthPhone view : 1 tile */
    .Box {
        width: 100%;
        padding-bottom: 100%;
    }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}
