.container{
    position: relative;
    height: 660px;
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}

    .container a{
        float: left;
        margin: 20px;
    }

.big{
    position: absolute;
    top: 260px;
    left: 20px;
}